body {
    font-family: Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.box-element {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1); /* Updated box-shadow */
    background-color: #fff;
    border-radius: 5px;
    padding: 20px; /* Increased padding for better spacing */
    margin-bottom: 20px; /* Added margin bottom for better separation */
}

.product {
    border-radius: 0 0 4px 4px; /* This style was already defined */
}
.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}
.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}
.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}
.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}
.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}
.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.row-image{
	width: 100px;
}
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav .left-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.topnav .left-content ul li {
    display: inline;
}

.topnav .left-content ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav .left-content ul li a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .right-content .form-inline {
    margin-left: auto;
    margin-right: 15px;
}

.btn {
    border-radius: 0;
}

#cart-icon {
    width: 25px;
    display: inline-block;
    margin-left: 15px;
}

#cart-total {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 10px;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
}
.hidden{
	display: none!important;
}