{% extends 'index.html' %}
{% load static %}

{% block navbar %}
    {{ block.super }} 
{% endblock navbar %}

{% block content %}
    <h1>Clothes You See</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            {% if product.image %}
            <img class="thumbnail" src="{{ product.image.url }}">
            {% else %}
            <!-- If there is no image associated with the product, display a placeholder image -->
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
            {% endif %}
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <p>{{product.description}}</p>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a class= "btn btn-outline-success" href="#">View</a>
                <h4 style="float: right;">$ {{ product.price }}</h4>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}
